
        <nav>
            <ul class="nav-links">
                <li class="link "><a href="/" class="<%= path === '/' ?  'link-active' : '' %>">Home</a></li>
                <li class="link "><a href="/donate" class="<%= path === '/donate' ?  'link-active' : '' %>">Donate</a></li>
            </ul>
        </nav>